.form {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.form .inputArea {
  display: flex;
  flex-flow: row wrap;
  gap: 3rem;
}

.form button {
  display: flex;
  align-self: center;
  font-weight: bold;
}

.form button:disabled {
  background-color: #E4E4E4;
  border-color: #848484;
  color: #848484;
  cursor: not-allowed;
}

.form label {
  font-weight: bold;
  font-size: 1.2rem;
}

.form input {
  display: flex;
  padding: 0.25rem;
  border: none;
  border-bottom: 3px solid #ccc;
  font-size: 1rem;
  flex: 1;
}

.form input:focus {
  outline: none;
  border-color: rgba(244, 162, 97, 1);
}

.form .errorText {
  color: #e44d10;
  font-size: 0.9rem;
}
