.section {
  display: block;
  align-content: center;
  margin: 2rem;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  max-width: 800px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 480px) {
  .section {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}
